<div class="container more-space-top">
  <div class="row">
    <div class="col-6">
      <h1 class="underline-yellow"><%= @cocktail.name %></h1>

      <div class="recipe-card mt-4">

          <% @cocktail.doses.each do |d| %>
            <div class="d-flex justify-content-between">
              <h5><%= d.ingredient.name %></h5>

              <p class="text-right"><%= d.description %></p>
            </div>
          <% end %>
          <%= link_to "add ingredients", new_cocktail_dose_path(@cocktail), class: 'btn btn-danger' %>

        </div>
    </div>
  </div>
</div>
