.horse-btn-yellow {
  padding: 5px;
  color: black;
  background: $yellow;
}
.votes {
  position: relative;
  top: 40px;
  // left: 135px;
  color: black !important;
  background: #ffff00;
  width: 60px;
  padding: 5px;
  text-align: center;
  // border-radius: 5px;
  display: inline-block;

  p {
    margin: 0;
  }

}
