// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.more-space-top {
  margin-top:100px;
}

.cocktail-card {
  width: 200px;
  min-height: 100px;
  padding: 20px;
  background: $cocktail-yellow;
  box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.3);
  text-align: center;
  margin: 10px;
  display: flex;
}
.cocktail-card:hover {
  color: $cocktail-yellow;
  background: black;
  box-shadow: 0 0 30px $cocktail-yellow;
  transition: all 1s ease;
}

.cocktail-name {
  justify-content: center;
  vertical-align: center;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
  font-style: italic;
}

.underline-yellow {
  background: $cocktail-yellow;
  color: black;
}

.title-box {
  width: 300px;
  padding-left: 5px;
}
body {
  background:black;
}
